.left-panel,
.right-panel {
  flex: 0.5;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
  padding: 2rem;
}



.new-post-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.new-post-form textarea {
  resize: none;
  width: 25rem;
  height: 15rem;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 0.8rem;
}

.new-post-form input {
  width: 25rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
}



.new-post-dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 40%;
  left: 33%;
  width: 35rem;
  height: 25rem;
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-button-wrapper button {
  width: 5rem;
  border-radius: 1rem;
  box-shadow: 1.5px 1.5px black;
  transition: box-shadow 0.5s ease-in-out
}

.form-button-wrapper button:hover {
  box-shadow: 4px 4px black;
}