.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C0705;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  height: 20rem;
  background-color: #F2F7FF;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px gray,
    -5px -5px 10px gray;
  transition: all 0.9s ease-in-out;
  box-sizing: border-box;
  padding: 2rem;
}

.login-box:hover {
  width: 25rem;
  height: 15rem;
  box-shadow: 3px 3px 10px gray,
    -3px -3px 10px gray;
}

.login-box-header {
  flex: 0.5;
  width: 100%;
}

.login-box-header h1 {
  font-size: 3rem;
}

.login-box-form {
  flex: 1.5;
  width: 100%;
}

.login-box-buttons {
  flex: 0.5;
  width: 100%;
}

.login-box-header,
.login-box-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

#usernameInput,
#passwordInput {
  width: 18rem;
  height: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  border: none;
  background-color: #F2F7FF;
  outline: none;
  box-shadow: 2px 2px black;
  transition: all 0.9s ease-in-out;
}