.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: #0C0705;
}

.login-wrapper a {
  text-decoration: none;
  color: black;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 28rem;
  height: 30rem;
  background-color: #F2F7FF;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px gray,
    -5px -5px 10px gray;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 1rem;
}

.login-switcher {
  flex: 0.3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box-header {
  flex: 0.3;
  width: 23rem;
}

.login-box-header h1 {
  font-size: 3.5rem;
  background-color: black;
  border-radius: 2rem;
  color: white;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
}

.login-box-form {
  flex: 1.5;
  width: 100%;
}

.login-box-buttons,
.register-box-buttons {
  flex: 0.5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-box-header,
.login-box-buttons,
.register-box-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-error-message {
  width: 100%;
  height: 1rem;
  text-align: center;
  color: red;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: auto;
  padding-bottom: 1.5rem;
}

.register-form {
  gap: 0.8rem;
}

.login-form label,
.register-form label {
  display: block;
  box-sizing: border-box;
  padding-left: 0.5rem;
}

#usernameInput,
#passwordInput,
#emailInput {
  width: 20rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  border: none;
  background-color: #F2F7FF;
  outline: none;
  box-shadow: 4px 4px 4px 4px gray;
  transition: all 0.3s ease-in-out;
}

.login-button,
.register-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  background-image: url("/public/images/loginUnlocked.svg");
  background-position: center;
  padding: 0;
  border: none;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  box-shadow: 2px 2px 2px 2px black;
}

.register-button {
  background-image: none;
  width: 6rem;
  height: 2rem;
  color: black;
  box-shadow: 3px 3px 3px 3px gray;
}

#usernameInput:hover,
#passwordInput:hover,
#emailInput:hover {
  box-shadow: 3px 3px black;
}

.register-button-section {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.register-button-section button {
  text-align: center;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.back-to-login-button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  background-image: url("/public/images/backToLogin.svg");
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 3px 3px 3px 3px gray;
}

.back-to-login-button:hover {
  box-shadow: 2px 2px 2px 2px black;
}

/* <---------------------------Register Box---------------------------> */