.home-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.post-wheels-wrapper {
  flex: 1;
  display: flex;
  width: 100%;
  background-color: #0C0705;
}

.wheel-post-body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40rem;
  background-color: #89cff0;
  font-weight: bold;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 0.7rem;
  border: 5px solid black;
  box-shadow:
    3px 3px 10px white,
    -3px -3px 10px white;
}

.wheel-post-body:hover .wheel,
.wheel-post-body:hover .middle-wheel {
  animation-play-state: paused;
  animation-delay: 0.1s;
}

.wheel,
.middle-wheel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
  border-right: 1px solid gray;
  box-sizing: border-box;
  padding: 3rem;
  animation: loopUp 500s linear infinite;
}

.middle-wheel {
  animation: loopDown 300s linear infinite;
}

@keyframes loopUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes loopDown {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}