.top-users-wrapper {
  flex: 0.8;
  height: calc(100vh - 5rem - 15rem);
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-users-header {
  flex: 0.114;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-users-header h1 {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0rem 0rem;
  border-bottom: 1.5px solid gray;
}

.top-users-list {
  flex: 1;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #e8e8e8;
  border-radius: 0rem 0rem 2rem 2rem;
  overflow-y: scroll;
}

.top-user-scorecard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4.5rem;
  border-radius: 1rem;
  background-color: #89CFEF;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  border: 1.5px solid black;
}

.leaderboard-number,
.user-info-wrapper,
.follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-number {
  flex: 0.2;
}

.leaderboard-number>span {
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.user-info-wrapper {
  flex: 0.;
  display: flex;
  flex-direction: column;
}

.user-info-wrapper>div {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-wrapper>div>img {
  width: 1rem;
  height: 1rem;
}

.follow-button-wrapper {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-button,
.following-button {
  width: 95%;
  height: 2rem;
  border: 1px solid silver;
  background-color: hsla(0, 0%, 100%, 0.329);
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 1rem;
}

.follow-button:hover,
.following-button {
  background-color: hsla(0, 0%, 83%, 0.329);
}