.settings-dialog {
  width: 40rem;
  height: auto;
  top: 10%;
  left: 41%;
  z-index: 5;
  display: flex;
}

.settings-open-button {
  max-width: 2rem;
  max-height: 2rem;
  background-color: transparent;
  border: none;
  background-image: url("/public/images/settings-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-panel {
  flex: 0.5;
}

.settings-window {
  flex: 1;
}