.site-toolbar {
  position: fixed;
  width: 100%;
  max-height: 5rem;
  box-sizing: border-box;
  padding: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 3;
}

.main-toolbar-buttons {
  display: flex;
  flex: 0.5;
  justify-content: flex-start;
}

.home-search-wrapper {
  display: flex;
  flex: 2;
}

.home-button-wrapper,
.profile-button,
.logout-button {
  width: 13rem;
  height: 3rem;
  border-radius: 5rem;
  transition: box-shadow 0.65s ease-in-out;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.site-toolbar button:hover {
  box-shadow: 3px 3px white;
}

.profile-link,
.home-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.home-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.home-snowflake {
  width: 2rem;
  height: 2rem;
}