@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


* {
  margin: 0;
  font-size: 15px;
  font-family: 'Madimi One', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}